.container{
    padding: 2rem ;
    background-color: #f4f6fa;
    height: 75vh;
    width: 80vw;
    flex-direction: column;   /* Para que el título quede arriba */
  justify-content: center;  /* Centra verticalmente */
  align-items: center;
}


.titulo {
    text-align: center;
    color: #002d72;
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 2rem;
  }


.modulos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  place-content: center; 
  margin-top: 3rem ;
}

.snackbar-success {
  background-color: #4caf50 !important; /* Verde */
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important; /* Rojo */
  color: white !important;
}
