label{
    font-weight: 600;
    font-size: 14px;
    color: var(--text-primary);
    display: block;
    padding-top: 1.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

input::placeholder {
    color: #b3afaf;
}